body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: black;
    color: white;
}

header{
    width: 100%;
    padding: 0.2em 1em; 
    margin: 0;
    background-color: #006400;
}

header>img{
    position: absolute;
    top: 0;
    right: 0;
    height: 3em;
}

header>h1{
    margin: 0;
}

nav{
    width: 100%;
    background-color: #006400;
    padding: 0.2em 1em; 
    margin: 0;
    display: block;
    font-weight: bold;
    padding: 0;
}

nav a{
    text-decoration: none;
    color: white;
}

.navitem{
    padding: 0.2em;
    margin: 0;
    display: inline-block;
    background-color: #019201;
}


#marker{
    display: inline-block;
}

#marker::after{
    content: '>';
    font-weight: bold;
    color: white;
}

#rightfloat{
    float: right;
}

#rightfloat > img{
    height: 1em;
    padding-right: 0.2em;
}

form>input[type=submit]{
    background: url('gears2.gif') no-repeat top left;
    height: 10em;
    width: 10em;
}

.mediacontainer{
    width: 30vw;
    border-radius: 5%;
    border: 1px solid white;
}