body{
  font-family: "Roboto", sans-serif;
  display: block;
  position: relative;
}

#menu{
  position: fixed;
  top: 0;
  left: 0;
  height: 4em;
  border-bottom: 0.1em solid #ccc;
  padding: 0.1em;
  width: 100%;
  display: none;
}


#title{
    text-align: center;
    font-weight: bold;
    font-size: 5vh;
    display: inline-block;
    width: 100%;
}

#controls{
  position: fixed;
  right: 0;
  top: 0;
  padding-top: 0.1em;
  padding-right: 0.1em;
  display: inline-block;
  font-size: 4vh;
  font-family: "Ubuntu Mono", monospace;
}

.fatlink{
  display: block;
  font-size: 200%;
  line-height: 200%;
}

#content{
  margin-left: 1em;
  margin-bottom: 1em;
}

#content a{
  color: #000078;
  font-weight: bolder;
  text-decoration: none;
}


#footer{
  position: absolute;
  right: 0.2em;
  bottom: 0;
  font-size: 80%;
  margin-top: 1em;
}

#footer a{
  font-weight: bold;
  color: black;
  text-decoration: none;
}


#imgbox{
  text-align: center;
  border: auto 0;
  width: 500px;
  position: relative;
  display: block;
  min-height: 500px;
}

#imgbox>img{
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
}

.arrow{
  filter: invert(100%);
  width: 33% !important;
  transform: rotate(45deg);
  z-index: 1;
}

#arrow-keycap{
  opacity: 0;
  position: absolute;
  left: 520px;
  top: 70px;
}

.arrow{
  opacity: 1 !important;
}

#arrow-upper{
  opacity: 0;
  filter: invert(75%);
  position: absolute;
  left: 300px;
  top: 30px;
}

#arrow-lower{
  opacity: 0;
  filter: invert(75%);
  position: absolute;
  left: 320px;
  top: 60px;
}

ul>li{
  background-color: #fff;
  border: 1px solid #ccc;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding: 0.2em 0.1em;
  display:block;
  max-width: 50%;
}


table{
  width: calc(100% - 2em);
  border-collapse: collapse;
  border: 2px solid #ccc;
}

thead{
  background-color: #ccc;
}

th{
  text-align: center;
}

th,td{
  padding: 0.2em;
  margin-bottom: 0.5em;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

th:last-child, td:last-child{
  padding-right:  0;
  border-right: 0;
}

table td:first-child{
  text-align: left;
  padding-right: 1em;
}

table table td:first-child{
  text-align: justify;
}

table table, table table td, table table th{
  border: none;
}

li{
  font-family: "Roboto", sans-serif;
}

li img{
  height: 1em;
  margin-bottom: -0.2em;
}
