body{
  font-family: "Roboto", sans-serif;
  margin-top: 5em;
  min-height: 92vh;
  display: block;
  position: relative;
  transition: background-color 1s, color 1s;
}

#menu{
  position: fixed;
  top: 0;
  left: 0;
  height: 4em;
  border-bottom: 0.1em solid #ccc;
  padding: 0.1em;
  width: 100%;
  display: block;
  font-family: "Ubuntu Mono", monospace;
}

.dark #menu{
  border-bottom: 0.1em solid #0c0;
}

#title{
    text-align: center;
    font-weight: bold;
    font-size: 5vh;
    display: inline-block;
    width: 100%;
}

#controls{
  position: fixed;
  right: 0;
  top: 0;
  padding-top: 0.1em;
  padding-right: 0.1em;
  display: inline-block;
  font-size: 4vh;

}

#brightness::before{
   	content: '💡';
}

.menu-button{
  /*font-weight: bold;*/
  border-radius: 0.5vh;
  border: 0.1vh solid black;
  transition: color 0.5s, border-color 0.5s;
}

.menu-button:hover{
  color: #000078;
  border-color: #000078;
}

body.dark .menu-button{
  border-color: white;
  color: white;
}

body.dark .menu-button:hover{
  color: #78ff78;
  border-color: #78ff78;
}

.fatlink{
  display: block;
  font-size: 200%;
  line-height: 200%;
}

#content{
  margin-left: 1em;
}

#content a{
  color: #000078;
  font-weight: bolder;
  text-decoration: none;
}

body.dark{
  background-color: #333;
  color: #ddd;
}

body.dark #content a{
  color: #78ff78;
}

#footer{
  position: absolute;
  right: 0.2em;
  bottom: 0;
  font-size 80%;
}

#footer a{
  font-weight: bold;
  color: black;
  text-decoration: none;
  transition: color 1s;
}

body.dark #footer a{
  color: white;
}

.dark a:hover{
  color: #00ff00 !important;
}



#imgbox{
  text-align: center;
  border: auto 0;
  width: 500px;
  position: relative;
  display: block;
  min-height: 500px;
}

#imgbox>img{
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
}

.arrow{
  filter: invert(100%);
  width: 33% !important;
  transform: rotate(45deg);
  transition: opacity 0.2s;
  z-index: 1;
}

#arrow-keycap{
  opacity: 0;
  position: absolute;
  left: 520px;
  top: 70px;
}

.arrow.active{
  opacity: 1 !important;
}

#arrow-upper{
  opacity: 0;
  filter: invert(75%);
  position: absolute;
  left: 300px;
  top: 30px;
}

#arrow-lower{
  opacity: 0;
  filter: invert(75%);
  position: absolute;
  left: 320px;
  top: 60px;
}

ul>li{
  background-color: #eee;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding: 0.2em 0.1em;
  display:block;
  max-width: 50%;
  transition: background-color 0.2s;
}

.dark ul>li{
  background-color: #444;
}

.dark ul>li:hover{
  background-color: #474;
}

ul>li:hover{
  background-color: #ccc;
}

table{
  width: calc(100% - 2em);
  border-collapse: collapse;
  border: 2px solid #ccc;
}

thead{
  background-color: #ccc;
}

.dark thead{
  background-color: #474;
}

th{
  text-align: center;
}

th,td{
  padding: 0.2em;
  margin-bottom: 0.5em;
  border: 1px solid #ccc;
}

th:last-child, td:last-child{
  padding-right:  0;
}

table td:first-child{
  text-align: left;
}

table table td:first-child{
  text-align: justify;
}

table table, table table td, table table th{
  border: none;
}

li{
  font-family: "Roboto", sans-serif;
}

li img{
  height: 1em;
  margin-bottom: -0.2em;
}
